<?xml version="1.0"?>
<launch>

<!-- Set the nr of the exp on the server -->
<arg name="exp_nr" default="0"/>
<arg name="output_dir" default="/media/kingston_usb/results/"/>
<arg name="output_dir2" default="/home/pmvanderburg/bagfiles_susan_thijs/bagfiles/"/>
<param name="exp_nr_param" value="$(arg exp_nr)" />

<node pkg="rosbag" type="record" name="rosbag_record_synces_topics"
       args="
       record -O $(arg output_dir2)sequence_$(arg exp_nr) 
       /sync/left/camera_info
       /sync/right/camera_info
       /sync/robot/pose
       /sync/object/pose" />

</launch>
