<?xml version="1.0"?>

# Parameters
# ~wall_clock (bool, default: False)
# If True, then perform all rate measurements against wall clock time, regardless of whether simulation / log time is in effect. (New in ros_comm 1.5.3)
# ~unreliable (bool, default: False)
# If True, prefer to negotiate an unreliable connection for the inbound data. (New in ros_comm 1.5.3)
# ~lazy (bool, default: False)
# If True, don't subscribe to input topic unless there is at least one subscriber on the output topic. (New in ros_comm 1.5.3)


# throttle messages <intopic> <msgs_per_sec> [outtopic]
# rosrun topic_tools throttle messages base_scan 1.0

<launch>
<node name="zed_left_rect_downsample" pkg="topic_tools" type="throttle"
      args="/zed_node/left/image_rect_color left_rect_downsample 5"
</launch>


# /zed_node/left/image_rect_color
# /zed_node/left/camera_info
# /zed_node/right/image_rect_color
# /zed_node/right/camera_info

# /zed_node/stereo/image_rect_color

# /zed_node/depth/camera_info
# /zed_node/depth/depth_registered
# /zed_node/disparity/disparity_image
# /zed_node/point_cloud/cloud_registered

# /zed_node/rgb/camera_info
