<!-- -*- xml -*- -->

<launch>
  <arg name="record_zed_rgb"   default="false" />
  <arg name="record_zed_left"  default="false" />
  <arg name="record_zed_right" default="false" />
  <arg name="record_zed_depth" default="false" />
  <arg name="record_flir"      default="false" />
  <arg name="seqno"                            />
  <arg name="output_dir"       default="/media/5944fb55-8975-45e7-aaff-436bc493fe61/results/" />

 
 <node pkg="rosbag" type="record" name="rosbag_record_zed_rgb_rect"
       args="record -O $(arg output_dir)seq$(arg seqno)_zed_rgb_rect_images /zed_node/rgb/image_rect_color"
       if="$(arg record_zed_rgb)" />

 <node pkg="rosbag" type="record" name="rosbag_record_zed_left_rect"
       args="record -O $(arg output_dir)seq$(arg seqno)_zed_left_rect_images /zed_node/left/image_rect_color"
       if="$(arg record_zed_left)" />

 <node pkg="rosbag" type="record" name="rosbag_record_zed_right_rect"
       args="record -O $(arg output_dir)seq$(arg seqno)_zed_rgb_rect_images /zed_node/right/image_rect_color"
       if="$(arg record_zed_right)" />

 <node pkg="rosbag" type="record" name="rosbag_record_zed_depth"
       args="record -O $(arg output_dir)seq$(arg seqno)_zed_depth_images /zed_node/depth/depth_registered /zed_node/disparity/disparity_image "
       if="$(arg record_zed_depth)" />

 <node pkg="rosbag" type="record" name="rosbag_record_zed_params"
       args="record -O $(arg output_dir)seq$(arg seqno)_zed_params /tf /imu/data /zed_node/imu/data /zed_node/imu/data_raw /zed_node/imu/mag /zed_node/pose /zed_node/depth/camera_info /zed_node/left/camera_info /zed_node/right/camera_info /zed_node/rgb/camera_info" />

</launch>
