<?xml version="1.0"?>
<launch>

<!-- Topic tools 'throttle messages' Parameters
# ~wall_clock (bool, default: False)
# If True, then perform all rate measurements against wall clock time, regardless of whether simulation / log time is in effect. (New >
# ~unreliable (bool, default: False)
# If True, prefer to negotiate an unreliable connection for the inbound data. (New in ros_comm 1.5.3)
# ~lazy (bool, default: False)
# If True, don't subscribe to input topic unless there is at least one subscriber on the output topic. (New in ros_comm 1.5.3)


# throttle messages <intopic> <msgs_per_sec> [outtopic]
# rosrun topic_tools throttle messages base_scan 1.0
-->

<arg name="rate" default="7.0"/>
<!-- <arg name="output_dir" default="/media/5944fb55-8975-45e7-aaff-436bc493fe61/results/" /> -->



<!-- create separate node for every topic which has to be downsampled -->


<!-- zed left and right camera with their respective intrinsics -->
<node name="zed_left_rect_downsample" pkg="topic_tools" type="throttle"
      args="messages /zed_node/left/image_rect_color $(arg rate)"
/>

<node name="zed_right_rect_downsample" pkg="topic_tools" type="throttle"
      args="messages /zed_node/right/image_rect_color $(arg rate)"
/>

<node name="zed_left_info_downsample" pkg="topic_tools" type="throttle"
      args="messages /zed_node/left/camera_info $(arg rate)"
/>

<node name="zed_right_info_downsample" pkg="topic_tools" type="throttle"
      args="messages /zed_node/right/camera_info $(arg rate)"
/>

</launch>
