<?xml version="1.0"?>
<launch>

<!-- Record all published synced topics and place them in a new bagfile under a new name -->
<!-- Example usage -->
<!-- roslaunch bop_ros_conversion record_synced_bags.launch date:='20220705' exp_nr:='001' -->

<!-- Set the nr of the exp on the server -->
<arg name="exp_nr" default="0"/>
<arg name="output_dir" default="/home/pmvanderburg/noetic-husky/bop_ros_ws/src/Husky_scripts/bagfiles/"/>
<arg name="date" />
<param name="exp_nr_param" value="$(arg exp_nr)" />

<node pkg="rosbag" type="record" name="rosbag_record_synces_topics"
       args="
       record -O $(arg output_dir)$(arg date)_sequence_$(arg exp_nr)_synced
       /sync/left/camera_info
       /sync/left/image_rect
       /sync/right/camera_info
       /sync/right/image_rect
       /sync/robot/pose
       /sync/object/pose" />

</launch>
